.main-container {
	margin: 0px auto;
	height: 500px;
}
.main-menu-links {
	margin: 0px auto;
	margin-top: 45vh;
	height: 200px;
	width: 600px;
	text-align: center;
}
tr,td {
	padding: 10px;
}

.password-input {
	width: 350px;
}

label {
	cursor: pointer !important;
}

.form-group {
	margin-bottom: 10px !important;
	height: 40px;
}
select.form-control {
	width: 90px;
	margin-bottom: 10px !important;
}